{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div>
    <div class="page-width">
      <div class="md:tw-flex md:tw-items-start">
        <div class="tw-max-w-xs tw-mb-10 md:tw-mb-0">
          {%- if section.settings.image != blank -%}
            {%- assign image_size_2x = section.settings.image_width | times: 2 | at_most: 5760 -%}
            <div style="max-width: min(100%, {{ section.settings.image_width }}px);">
              <img
                srcset= "{{ section.settings.image | image_url: width: section.settings.image_width }}, {{ section.settings.image | image_url: width: image_size_2x }} 2x"
                src="{{ section.settings.image | image_url: width: 760 }}"
                alt="{{ section.settings.image.alt | escape }}"
                loading="lazy"
                width="{{ section.settings.image.width }}"
                height="{{ section.settings.image.height }}"
              >
            </div>
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          {%- endif -%}
        </div>
      {% comment %}
        Menus
      {% endcomment %}
      <div class="md:tw-grid md:tw-grid-cols-3 md:tw-gap-10 tw-w-full tw-flex-1 md:tw-px-8 tw-mb-10 md:tw-mb-0">
        <div class="tw-mb-10 md:tw-mb-0">
          <h2 class="tw-text-[16px] tw-uppercase tw-mb-3">{{ section.settings.menu_1_title }}</h2>
          {%- if section.settings.menu_1 != blank -%}
            <ul>
              {%- for link in section.settings.menu_1.links -%}
                <li>
                  <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </div>
        <div class="tw-mb-10 md:tw-mb-0">
          <h2 class="tw-text-[16px] tw-uppercase tw-mb-3">{{ section.settings.menu_2_title }}</h2>
          {%- if section.settings.menu_2 != blank -%}
            <ul>
              {%- for link in section.settings.menu_2.links -%}
                <li>
                  <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </div>
        <div class="tw-mb-10 md:tw-mb-0">
          <h2 class="tw-text-[16px] tw-uppercase tw-mb-3">{{ section.settings.menu_3_title }}</h2>
          {%- if section.settings.menu_3 != blank -%}
            <ul>
              {%- for link in section.settings.menu_3.links -%}
                <li>
                  <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </div>
      </div>
      <div class="tw-mb-10 md:tw-mb-0">
        {% render 'newsletter-form', section: section %}
      </div>
      </div>
    </div>
  </div>

  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__copyright caption">
        <small>Site by Drive Digital</small>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "Brand"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 50,
      "max": 550,
      "step": 5,
      "unit": "px",
      "label": "Image width",
      "default": 100
    },
    {
      "type": "header",
      "content": "Menu 1"
    },
    {
      "type": "text",
      "id": "menu_1_title",
      "default": "Menu title",
      "label": "Menu title"
    },
    {
      "type": "link_list",
      "id": "menu_1",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Menu 2"
    },
    {
      "type": "text",
      "id": "menu_2_title",
      "default": "Menu title",
      "label": "Menu title"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Menu 3"
    },
    {
      "type": "text",
      "id": "menu_3_title",
      "default": "Menu title",
      "label": "Menu title"
    },
    {
      "type": "link_list",
      "id": "menu_3",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
