{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="tw-text-center tw-mb-10">
      <div class="tw-flex tw-justify-center tw-items-center tw-gap-3 tw-mb-3">
        {% for item in (1..5) %}
          <span class="star-colored-fill"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg></span>
        {% endfor %}
      </div>
      <h2>{{ section.blocks.size }} Reviews</h2>
    </div>

  <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-10">
    {% for block in section.blocks %}
      <div class="tw-text-center tw-border-co tw-shadow tw-px-8 tw-py-9 tw-shadow-[#B05A95]" {{ block.shopify_attributes }}>
        <div class="tw-flex tw-items-center tw-justify-center tw-gap-2 tw-mb-5">
          {% for star in (1..5) %}
            {% if star <= block.settings.star %}
              <span class="star-colored-fill"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg></span>
            {% else %}
            <svg class="star-colored" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M15.668 8.626l8.332 1.159-6.065 5.874 1.48 8.341-7.416-3.997-7.416 3.997 1.481-8.341-6.064-5.874 8.331-1.159 3.668-7.626 3.669 7.626zm-6.67.925l-6.818.948 4.963 4.807-1.212 6.825 6.068-3.271 6.069 3.271-1.212-6.826 4.964-4.806-6.819-.948-3.002-6.241-3.001 6.241z"/></svg>
            {% endif %}
          {% endfor %}
        </div>
        <h4>{{ block.settings.title }}</h4>
        <span class="tw-text-base">{{ block.settings.author }}</span>
        <p class="tw-mt-4">{{ block.settings.content }}</p>
      </div>
    {% endfor %}
  </div>
  </div>
</div>

{% schema %}
{
  "name": "Reviews",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "range",
          "id": "star",
          "min": 0,
          "max": 5,
          "step": 1,
          "default": 0,
          "unit": "str",
          "label": "Star Rating"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "author",
          "default": "Author name",
          "label": "Author"
        },
        {
          "type": "textarea",
          "id": "content",
          "default": "author message",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews"
    }
  ]
}
{% endschema %}